<!doctype html>
<html>
    <head>
        <title> Add Player to Tournament</title>
    </head>
    <body>
<form id="showPlayers" action="/add_player_to_tournament.html" method="post">
        Player Name:
            <select name="player">
		{% for p in players %}
			<option value={{p[2]}}> {{p[0]}} {{p[1]}} </option>
		{% endfor %}
            </select><br><br>
        Tournament Name:
            <select name="tournament">
		{% for t in tournaments %}
			<option value={{t[1]}}> {{t[0]}} </option>
		{% endfor %}
            </select><br><br>
	    <input type="submit" value="Submit">
</form>
    </body>
</html>

