<!doctype html>
<html>
  <head>
    <title>
      Add Tournament For {{player.1}} {{player.2}}
    </title>
    <h4>
      <a href='/browse_players'>Players</a>&nbsp;&nbsp;&nbsp;
      <a href='/browse_officials'>Officials</a>&nbsp;&nbsp;&nbsp;
      <a href='/browse_tournaments'>Tournaments</a>&nbsp;&nbsp;&nbsp;
    </h4>
    <h1>
      CS 390 Tournament Style Database
    </h1>
  </head>
  <body>
    <p>
      <a href='/player_tournaments/{{player.0}}'>Tournaments For: {{player.1}}</a>
    </p>
    <h2>
      Select a Tournament to Register {{player.1}} {{player.2}} in:
    </h2>
    <form id="addPlayerTournament" action="/add_player_tournament/{{player.0}}" method="post">
      Tournament Name: <select name="tournament">
        {% for t in tournaments %}
        <option value={{t[0]}}> {{t[1]}} </option>
        {% endfor %}
      </select><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
