<!doctype html>
<html>
    <head>
        <title> Add a Tournament</title>
    </head>
    <body>
<form id="showPlayers" action="/add_tournament.html" method="post">
        Name: <input type="text" name="name" value=""><br><br>
        Official Name:
            <select name="Official">
		{% for o in officials %}
			<option value={{o[2]}}> {{o[0]}} {{o[1]}} </option>
		{% endfor %}
            </select><br><br>
        Tournament Format: <input type="text" name="format" value=""><br><br>
        Start Date:<input type="date" name="sd" value=""><br><br>
	<input type="submit" value="Submit">
</form>
	</body>
</html>

