<html>
  <head>
    <title>
      Browse Officials
    </title>
    <h4>
      <a href='/browse_players'>Players</a>&nbsp;&nbsp;&nbsp;
      <a href='/browse_officials'>Officials</a>&nbsp;&nbsp;&nbsp;
      <a href='/browse_tournaments'>Tournaments</a>&nbsp;&nbsp;&nbsp;
    </h4>
    <h1>
      CS 390 Tournament Style Database
    </h1>
  </head>
  <body>
    <h2>Officials</h2>
    <p>
      <a href='/new_official'>Add New Official</a>
    </p>
    <table border='1'>
      <thead>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>View Tournaments</th>
        <th>View Results</th>
        <th>Update</th>
        <th>Delete</th>
      </thead>
      <tbody>
        {% for r in rows %}
        <tr>
          <td> {{ r.0 }} </td>
          <td> {{ r[1] }} </td>
          <td> {{ r[2] }} </td>
          <td>
            <input type='button' name='viewTournaments' value='Tournaments' onclick="window.location = '/official_tournaments/{{r[0]}}'">
          </td>
          <td>
            <input type='button' name='viewResults' value='Results' onclick="window.location = '/official_results/{{r[0]}}'">
          </td>
          <td>
            <input type='button' name='Update' value='Update' onclick="window.location = '/update_official/{{r[0]}}'">
          </td>
          <td>
            <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_official/{{r[0]}}'">
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
