<!doctype html>
<html>
    <head>
        <title> End a Tournament</title>
    </head>
    <body>
<form id="showPlayers" action="/end_tournament.html" method="post">
	Name:
            <select name="Tournament">
 		{% for t in tournaments %}
			<option value={{t[0]}}> {{t[0]}} </option>
		{% endfor %}
	    </select><br><br>
        End Date:<input type="date" name="sd" value=""><br><br>
        <button type="button"> Execute </button>
	<input type="submit" value="Submit">
</form>
    </body>
</html>

