<!doctype html>
<html>
    <head>
        <title> Index</title>
    </head>
    <body>
        <ul>
            <li>    <a href="browse_players"</a>Players</li>
            <li>    <a href="browse_officials"</a>Officials</li>
            <li>    <a href="add_tournament.html">Add New Tournament</a> </li>
            <li>    <a href="add_player_to_tournament.html">Add Player to Tournament</a> </li>
            <li>    <a href="add_result_to_tournament.html">Add Result to Tournament Round</a> </li>
            <li>    <a href="end_tournament.html">End a Tournament</a> </li>
            <li>    <a href="player_results.html">Find Results for a Player</a> </li>
            <li>    <a href="players_for_tournament.html">Find Players in a Tournament</a> </li>
            <!--<li>    <a href="remove_results_to_tournament.html">remove a result from a tournament</a> </li> -->
            <li>    <a href="tournament_for_player.html">List all Tournaments for a Player</a> </li>
            <li>    <a href="tournament_results.html">List all Results for a Tournament</a> </li>
        </ul>
    </body>
</html>
