<!doctype html>
<html>
  <head>
    <title>
      Add an Official
    </title>
    <h4>
      <a href='/browse_players'>Players</a>&nbsp;&nbsp;&nbsp;
      <a href='/browse_officials'>Officials</a>&nbsp;&nbsp;&nbsp;
      <a href='/browse_tournaments'>Tournaments</a>&nbsp;&nbsp;&nbsp;
    </h4>
    <h1>
      CS 390 Tournament Style Database
    </h1>
  </head>
  <body>
    <h2>
      Enter Official's Information:
    </h2>
    <form id="addOfficial" action="/new_official" method="post">
      First Name: <input type="text" name="fname" value=""><br><br>
      Last Name: <input type="text" name="lname" value=""><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
