<!doctype html>
<html>
  <head>
    <title>
      Tournaments For {{player.1}} {{player.2}}
    </title>
    <h4>
      <a href='/browse_players'>Players</a>&nbsp;&nbsp;&nbsp;
      <a href='/browse_officials'>Officials</a>&nbsp;&nbsp;&nbsp;
      <a href='/browse_tournaments'>Tournaments</a>&nbsp;&nbsp;&nbsp;
    </h4>
    <h1>
      CS 390 Tournament Style Database
    </h1>
  </head>
  <body>
    <h2>
      Tournaments For: {{player.1}} {{player.2}}
    </h2>
    <p>
      <a href='/add_player_tournament/{{player.0}}'>Register {{player.1}} {{player.2}} For a Tournament</a>
    </p>
    <table border='1'>
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Format</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Official Name</th>
        <th>Drop Out</th>
      </thead>
      <tbody>
        {% for r in rows %}
        <tr>
          <td> {{ r.0 }}</td>
          <td> {{ r[1] }}</td>
          <td> {{ r[2] }}</td>
          <td> {{ r[3] }}</td>
          <td> {{ r[4] }}</td>
          <td> {{ r[5] }} {{ r[6] }}</td>
          <td>
            <input type='button' name='dropOut' value='Drop Out' onclick="window.location = '/dropout/{{player.0}}/{{r[0]}}'">
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
