<html>
  <head>
    <title>
      Update Player: {{player[1]}} {{player[2]}}
    </title>
    <h4>
      <a href='/browse_players'>Players</a>&nbsp;&nbsp;&nbsp;
      <a href='/browse_officials'>Officials</a>&nbsp;&nbsp;&nbsp;
      <a href='/browse_tournaments'>Tournaments</a>&nbsp;&nbsp;&nbsp;
    </h4>
    <h1>
      CS 390 Tournament Style Database
    </h1>
  </head>
  <body>
    <h2>
      Update Player: {{player[1]}} {{player[2]}}
    </h2>
    <form id="update_player" action="/update_player/{{player[0]}}" method="post">
      <input type="hidden" name="id" value = "{{ player[0] }}">
      First name: <input type="text" name="fname" value = "{{ player[1] }}"><br>
      Last name: <input type="text" name="lname" value = "{{ player[2] }}" ><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
